.logoContainers {
    padding: 4rem 0;
    background: url(/talk-to-our-expert-counsellor-background.png);
}

.logoContainers h1 {
    color: #fff;
    text-align: center;
}

.logList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logList li {
    width: 15%;
    background: #FFF;
    padding: 0.5rem;
    margin: 0.5rem;
}

.logList li img {
    max-width: 100%;
}