.contactContainer {
    padding: 3.5rem 0 2.5rem 0;
    font-family: arial;
    margin-top: 82px;
    background: #eee;
}

.contactContainer01 {
    background-color: #fff;
    padding: 4rem 0;
}

.contactContainer01 svg {
    margin-right: 1rem;
    margin-top: 0.3rem;
}

.contLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.groupCont {
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    margin-bottom: 3rem;
}

.formContainer {
    background-color: rgb(255 255 255);
    padding: 1.5rem;
    color: #555;
    border-radius: 8px;
    border: #ddd 1px solid;
}

.contactBtn {
    border-radius: 4px !important;
    font-weight: normal !important;
}

.contactContainer01 h3 {
    font-weight: 600;
    margin-bottom: 3rem;
}

.contactContainer01 b {
    font-weight: 500;
}

.contactContainer01 span {
    color: #575de9;
}

@media(max-width:992px) {
    .contLeft {
        padding-right: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .contactContainer {
        margin-top: 4rem;
    }
    .contactContainer01 {
        padding: 4rem 1rem;
    }
}