.sectionContent01 {
    padding: 4rem 0;
}

.sectionContent01 .box01 {
    padding-right: 10rem;
    font-size: 18px;
}

ul.keyBullets li {
    list-style: disc;
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 18px;
}

.viewCourseBtn {
    padding: 0.5rem 2rem;
}

@media(max-width:992px) {
    .sectionContent01 .box01 {
        padding-right: 0rem;
        margin-bottom: 3rem;
    }
}