/*** Header Css Start *****/

.mainHeader {
    font-size: 16px;
    height: 83px;
    background-color: #FFF;
}

.menuName a {
    font-weight: bold;
    color: #333!important;
    margin: 0 1rem;
    transition: 0.5s;
    border-radius: 5px;
    line-height: normal;
    height: 30px;
    display: flex;
    align-items: center;
}

.menuName a:hover {
    border-bottom: #0a58ca 2px solid;
}

.navRight a.logBtn {
    color: #1970fa !important;
    font-weight: bold;
    margin-right: 1rem;
    font-size: 16px;
}

.navRight a.logBtn:hover {
    color: #333;
    transition: 0.5s;
}

.navRight a.exploreBtn {
    color: #FFF!important;
    background-color: #1970fa;
    border-radius: 2rem;
    width: 10rem;
    text-align: center;
    font-weight: bold;
}

.navRight a.exploreBtn:hover {
    background-color: #000;
    transition: 0.5s;
}

.menuName a:hover {
    color: #1970fa important;
}

.moblieNav {
    padding-right: 1rem;
}

.menuName .dropDonwItem {
    margin: 0;
    border-radius: 0;
    font-weight: 400;
    border-bottom: 1px solid #cccccc52;
    padding: 1.3rem 1.5rem;
}

.menuName .dropDonwItem a {
    font-weight: normal;
    margin: 0;
    font-size: 14px;
}

.menuName .dropDonwItem:hover,
.menuName .dropDonwItem a:hover {
    border: none;
}


/*** Header Css End *****/

@media(max-width:992px) {
    .mainHeader {
        font-size: 14px;
        height: auto;
        border-bottom: #333 1px solid;
    }
    .mhide {
        display: none;
    }
    .navRight {
        margin-left: 1rem;
    }
    .navRight a.logBtn {
        padding-top: 0;
    }
    .menuName a:hover {
        border-bottom: #0a58ca 0px solid;
        color: #0a58ca;
    }
}