.staticBanner {
    width: 100%;
    background: url(/Home/ban/ban1.png);
    height: 100%;
    background-size: cover;
    padding: 2rem 0 3rem 0;
    color: #FFF;
}

.staticBanner h1 {
    color: #fff;
    margin-bottom: 0.5rem;
}

.textBannerBox {
    width: 45%;
    margin-top: 4rem;
}

.starCont {
    width: 100%;
    margin-bottom: 1rem;
}

.banerBtnCont {
    width: 100%;
    margin-top: 2rem;
}

.starCont img {
    margin-top: -5px;
    margin-right: 1.5rem;
}

.starCont span {
    margin-right: 2rem;
}

.banerBtnCont button {
    margin-right: 2rem;
    border-radius: 30px;
    padding: 0.5rem 3rem;
}

.banerBtnCont button:last-child {
    margin-right: 0;
}

@media(max-width:1200px) {
    .textBannerBox {
        width: 80%;
        margin-top: 1rem;
    }
}

@media(max-width:992px) {
    .staticBanner {
        padding: 2rem 0;
    }
    .textBannerBox {
        width: 90%;
    }
    .staticBanner h1 {
        font-size: 1.3rem;
    }
}

@media(max-width:600px) {
    .banerBtnCont button {
        margin-right: 0.5rem;
        border-radius: 30px;
        padding: 0.2rem 1rem;
        font-size: 15px;
    }
}